extends ../shared/content

block stylesheet

block page
  div
    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          //- 
            .x_title
              h2
                | Form validation 
                small sub title
              .clearfix
          .x_content
            span.section 
              div
                |Temporary Place 
                a.btn.pull-right.btn-primary(type='', href="/tempplaces/new") New
            .col-md-3.col-xs-12.widget.widget_tally_box
              each tempPlace in tempPlaces
                //- p #{tempPlace}
                .x_panel.fixed_height_390
                  .x_content
                    .flex
                      ul.list-inline.widget_profile_box
                        li
                          a
                            i.fa.fa-facebook
                        li
                          a(href='/tempplaces/#{tempPlace._id}')
                            img.img-circle.profile_img(src='images/user.png', alt='...')
                        li
                          a
                            i.fa.fa-twitter
                    h3.name #{tempPlace.user.name}
                    .flex
                      ul.list-inline.count2
                        li
                        li
                          h3 #{tempPlace.capacity}
                          span Capacity
                        li
                    p
                      | #{tempPlace.description}
block javascript
  script.